.top {
	line-height: 26px;
	padding: 10px 60px;
	text-align: center;
	background-color: #388ddc;
	a {
		color: #000;
	}
}

.course {
	padding: 10px 60px;

	.course__top {
		line-height: 16px;
	}
	
	.course__detail {

		.course__detail__video {
			display: inline-block;
		}

		.course__detail__info {
			display: inline-block;
			.course__join {
				
			}
		}
	}
}